/*MOBILE STYLES START*/
body {
    margin: auto;
}
h1 {
    font: 3rem 'Amador'; /*might be able to consolidate these classes. take anothe look at this*/
}
h2 {
    font: 1.5rem 'Escrow';
}
.nav {
    background-color: #fef1d0;
    border: 1px solid #007250;
    display: flex;
    align-items: center;
}
.nav h1, .nav li {
    color: #007250;
}
.nav ul {
    font: 1rem 'Aktiv Grotesk';
    list-style: none;
    text-align: right;
    margin: 15px 15px 15px auto;
}
.nav h1 {
    font: 2rem 'Amador';
    margin: auto auto auto 15px;
}
.nav a {
    text-decoration: none;
}
.nav a:hover {
    text-decoration: underline;
}
.logo {
    background-color: #34363a;
    height: 100vh;
    display: flex;
    align-content: center;
    margin-bottom: -33px;
}
.discdiv {
    background-color: #d78029;
    text-align: center;
    margin-bottom: -32px;
    padding-bottom: 15px;
}
.contactdiv {
    background-color: #58a5db;
    text-align: center;
    margin-bottom: -33px;
    padding-bottom: 15px;
}
.btn {
   background-color: #007250;
   color: #fef1d0;
   font: 1rem 'Aktiv Grotesk';
   padding: 8px;
   border: 2px solid #d78029;
   border-radius: 4px;
}
.newsdiv {
    background-color: #d78029;
    text-align: center;
    margin-bottom: -33px;
    padding-bottom: 15px;
}
.infodiv {
    background-color: #58a5db;
    text-align: center;
    padding-bottom: 15px;
}
.bandinfo {
    background-color: #58a5db;
    margin-top: -32px; /*check margins*/
    margin-bottom: -33px;
}
.bandinfo p {
    font: 1rem 'Aktiv Grotesk';
}
.bandinfo h1, .bandinfo h2 {
    text-align: center;
}
.bandinfo ul {
    display: inline-block;
    font: 1rem 'Aktiv Grotesk';
}